@{
    ViewData["Title"] = "Home page - Lab 12";
}

<div>
    <h1 class="display-4">Form parameters parsing demo</h1>
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="SingleAction">Manual parsing in single action</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="SeparateActions">Manual parsing in separate actions</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Parameters">Manual binding (parameters)</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="SeparateModel">Manual binding (separate model)</a></li>
    </ul>
</div>
