@model Lab12.Models.CalcModel

@{
    ViewData["Title"] = "Manual - Lab12";
    string action = ViewContext.RouteData.Values["Action"].ToString();
}

<h1 class="display-4">Manual</h1>

@using (Html.BeginForm(action, "Home", FormMethod.Post))
{
    @Html.TextBox("firstValue")<br /><br />
    @Html.DropDownList("operation", new SelectList(new string [] {"+", "-", "*", "/"}))<br /><br />
    @Html.TextBox("secondValue")<br /><br />
    <button type="submit">Sumbit</button>
}
